/*.canvas {
  width: 500px;
  height: 600px;
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid black;
}

.frame {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  padding: 10px;
}

.one, .two, .three {
  width: 90%;
  height: 150px;
  margin: 20px auto;
  border: 5px solid black;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.one {
  background-color: #c94a4a;   
}

.two {
  background-color: #e6b84a;  
}

.three {
  background-color: #4a7ac9;   
}*/
